<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>리스트페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<th:block layout:fragment="content">
  <form id="initForm">
    <input type="hidden" id="resSort" th:value="${sort}"/>
    <input type="hidden" id="reSearchType" th:value="${searchType}"/>
    <input type="hidden" id="resSearchKeyword" th:value="${searchKeyword}"/>
  </form>
  <a th:href="@{/}">홈이동</a>
  <div class="page_tits">
    <h3>게시판 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>검색페이지</span> <span>리스트형</span> <span>리스트</span></p>
  </div>

  <div class="content">
    <section>
      <!--/* 검색 */-->
      <div class="container text-center">
        <div class="row row-cols-auto">
          <div class="col dropdown-center">
            <select title="정렬 유형 선택" class="btn btn-info dropdown-toggle" id="orderBox">
              <option value="boardFstRegDt"></a>최신순</option>
              <option value="boardLike">좋아요</option>
              <option value="boardDontLike">싫어요</option>
            </select>
          </div>
          <div class="col search_box dropdown-center">
            <form id="searchForm" onsubmit="return false;" autocomplete="off">
              <div class="sch_group fl">
                <select title="검색 유형 선택" id="searchBox" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <option value="">검색 선택</option>
                  <option value="title">제목</option>
                  <option value="content">내용</option>
                  <option value="titleOrCn">제목+내용</option>
                </select>
                <input type="text" id="ibxSearch" class="border border-primary-subtle" onkeyup="enterKey(event)" placeholder="키워드를 입력해 주세요." title="키워드 입력"/>
                <button type="button" class="btn btn-secondary" id="searchBtn"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
              </div>
            </form>
          </div>
          <!--/* 버튼 */-->
          <div class="col">
            <p class="btn_set tr">
              <a th:href="@{/noticeboard/detail(boardFlag = 'C')}" class="btns btn_st3 btn_mid">
                <button type="button" class="btn btn-primary">등록</button>
              </a>
            </p>
          </div>
        </div>
      </div>
      <!--/* 리스트 */-->
      <table class="table table-bordered border border-primary-subtle">
        <colgroup>
          <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:auto;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/>
        </colgroup>
        <thead>
        <tr>
          <th scope="col"><input type="checkbox"/></th>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">등록일</th>
          <th scope="col">조회</th>
          <th scope="col">좋아요</th>
          <th scope="col">싫어요</th>
          <th scope="col">댓글수</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:if="${not #lists.isEmpty( noticeBoardList )}" th:each="row, status : ${noticeBoardList}">
          <td><input type="checkbox"/></td>
          <!--                    <td th:text="${row.noticeYn == false ? (status.size - status.index) : '공지'}"></td>-->
          <td th:text="${row.boardId}"></td>
          <td class="tl"><a th:href="@{/noticeboard/detail( boardId=${row.boardId}, boardFlag = 'R' )}" th:text="${row.boardTitle}"></a></td>
          <td th:text="${row.boardFstRegNm}"></td>
          <td th:text="${#temporals.format( row.boardFstRegDt, 'yyyy-MM-dd HH:mm' )}"></td>
          <td th:text="${row.boardViews}"></td>
          <td th:text="${row.boardLike}"></td>
          <td th:text="${row.boardDontLike}"></td>
          <td th:text="${row.commentsCnt}"></td>
        </tr>

        <tr th:unless="${not #lists.isEmpty( noticeBoardList )}">
          <td colspan="5">
            <div class="no_data_msg">검색된 결과가 없습니다.</div>
          </td>
        </tr>
        </tbody>
      </table>

      <!--/* 페이지네이션 */-->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </section>
  </div> <!--/* .content */-->
</th:block>
</html>
<script>
  document.getElementById("searchBtn").addEventListener('click', searchEvent);
  document.getElementById("orderBox").addEventListener('change', orderEvent);
  //화면 로드후 초기값 셋팅
  window.onload =function (){
    initSetting();
  };

  /**
   * 초기값
   */
  function initSetting() {
    const resSort = document.getElementById("resSort").value;
    const resSearchType = document.getElementById("reSearchType").value;
    const resSearchKeyword = document.getElementById("resSearchKeyword").value;

    const searchType = document.getElementById("searchBox");
    const searchKeyword = document.getElementById("ibxSearch");
    const sort = document.getElementById("orderBox");

    //검색 셀렉트박스 초기화
    for(let i=0; i<searchType.length; i++) {
      if(searchType.options[i].selected === true) {
        searchType.options[i].selected = false;
      }
    }
    //검색 인풋박스 초기화
    searchKeyword.value = '';
    //정렬 셀렉트박스 초기화
    for(let i=0; i<sort.length; i++) {
      if(sort.options[i].selected === true) {
        sort.options[i].selected = false;
      }
    }

    //검색 셀렉트박스 값 추가
    for(let i=0; i<searchType.options.length; i++) {
      if(resSearchType === searchType.options[i].value) {
        searchType.options[i].selected = true;
      }
    }
    //검색 키워드입력
    searchKeyword.value=resSearchKeyword;
    //정렬 셀렉트박스 값 추가
    for(let i=0; i<sort.options.length; i++) {
      if(resSort === sort.options[i].value) {
        sort.options[i].selected = true;
      }
    }
  }

  /**
   * 검색기능 이벤트
   */
  function searchEvent() {
    //검색 value
    const selectSearch = document.getElementById("searchBox");
    const searchType = selectSearch.options[selectSearch.selectedIndex].value;
    const searchKeyword = document.getElementById("ibxSearch").value;
    //정렬 value
    const selectOrder = document.getElementById("orderBox");
    const sort = selectOrder.options[selectOrder.selectedIndex].value;
    let url = "";

    if(searchKeyword === "") {
      window.location.replace("/noticeboard");
      return;
    }

    if(searchType === "") {
      window.alert("선택값을 선택하세요");
      return;
    }
    window.alert("검색완료!!");
    //url
    url = "/noticeboard/search?page?"+ 0 +"&size="+ 10 + "&sort="+ sort +"&searchType="+ searchType +"&searchKeyword="+ searchKeyword;
    window.location.assign(url);
  }

  /**
   * 정렬 이벤트
   */
  function orderEvent() {
    //검색 value
    const selectSearch = document.getElementById("searchBox");
    const searchType = selectSearch.options[selectSearch.selectedIndex].value;
    const searchKeyword = document.getElementById("ibxSearch").value;
    //정렬 value
    const selectOrder = document.getElementById("orderBox");
    const sort = selectOrder.options[selectOrder.selectedIndex].value;
    const url = "/noticeboard/search?page="+ 0 + "&size="+ 10 +"&sort="+ sort +"&searchType="+ searchType +"&searchKeyword="+ searchKeyword;
    const sortName = sort === "bordFstRegDt" ? "최신순" : sort === "boardLike" ? "좋아요" : "싫어요";
    window.alert(sortName+" 정렬 완료");
    window.location.assign(url);
  }

  /**
   * 엔터키 이벤트
   * @param e
   */
  function enterKey(e) {
    if(e.keyCode === 13) {
      //엔터키눌렀을때 동작
      searchEvent();
    }
  }
</script>