<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>게시판 상세페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<input type="hidden" id="pageFlag" th:value="${pageFlag}" readonly>
<div class="container" th:if="${pageFlag == 'R'}">
    <!--    <form id="deleteForm" th:action="|/api/v1/noticeboard/delete|" method="post">-->
    <!--        <input type="hidden" class="form-control" th:value="${boardResponseDTO.boardId}" readonly/>-->
    <!--    </form>-->

    <!--    <div class="py-5 text-center">-->
    <!--        <h2 th:text="#{page.board}">게시글 상세</h2>-->
    <!--    </div>-->

    <!-- 추가 -->
    <!--    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>-->

    <form id="updateForm" th:object="${boardResponseDTO}" method="post">
        <div>
            <input type="hidden" id="boardId" name="boardId" class="form-control" th:field="*{boardId}"
                   th:value="${boardResponseDTO.boardId}" readonly>
        </div>
        <div>
            <label for="updateTitle">제목</label>
            <input type="text" id="updateTitle" name="boardSubject" class="form-control" value="상품A"
                   th:field="*{boardTitle}" th:value="${boardResponseDTO.boardTitle}">
        </div>
        <div>
            <label for="name">작성자</label>
            <input type="text" id="name" name="name" class="form-control" value="작성자"
                   th:value="${boardResponseDTO.boardFstRegNm}" readonly>
        </div>
        <div th:if="${boardResponseDTO.boardUptRegNm != ''}">
            <label from="uptName">수정자</label>
            <input type="text" id="uptName" name="uptName" class="form-control" value="수정자" th:field="*{boardUptRegNm}"
                   th:value="${boardResponseDTO.boardUptRegNm}">
        </div>
        <div th:if="${boardResponseDTO.boardUptRegNm == ''}">
            <label from="newUptName">수정자</label>
            <input type="text" id="newUptName" name="uptName" class="form-control" value="수정자"
                   th:field="*{boardUptRegNm}">
        </div>
        <div>
            <label for="viewcnt">조회수</label>
            <input type="text" id="viewcnt" name="viewcnt" class="form-control" value="10"
                   th:value="${boardResponseDTO.boardViews}" readonly>
        </div>

        <div>
            <label for="like">좋아요</label>
            <input type="text" id="like" name="like" class="form-control" value="10"
                   th:value="${boardResponseDTO.boardLike}" readonly>
        </div>
        <div>
            <label for="dontLike">싫어요</label>
            <input type="text" id="dontLike" name="dontLike" class="form-control" value="10"
                   th:value="${boardResponseDTO.boardDontLike}" readonly>
        </div>
        <div>
            <label for="regdate">등록일</label>
            <input type="text" id="regdate" name="regdate" class="form-control" value="10"
                   th:value="${boardResponseDTO.boardFstRegDt}" readonly>
        </div>
        <div th:if="${boardResponseDTO.boardUptRegDt != '' and boardResponseDTO.boardUptRegDt != null}">
            <label for="uptRegDate">최근 수정일</label>
            <input type="text" id="uptRegDate" name="uptRegDate" class="form-control" value="10"
                   th:value="${boardResponseDTO.boardUptRegDt}" readonly>
        </div>
        <div>
            <label for="editContents">글 내용</label>
            <input type="text" id="editContents" name="contents" class="form-control" value="10" th:field="*{boardCn}"
                   th:value="${boardResponseDTO.boardCn}">
        </div>
    </form>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="button" id="updateSaveBtn">게시글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button" id="deleteSaveBtn">게시글 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='NoticeBoardList.html'"
                    th:onclick="|history.back()|"
                    type="button">목록으로
            </button>
        </div>
        <div class="col">
            <button type="button" class="w-100 btn btn-primary btn-lg" id="likeBtn">좋아요</button>
        </div>
        <div class="col">
            <button type="button" class="w-100 btn btn-secondary btn-lg" id="dontLikeBtn">싫어요</button>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button type="button" class="w-100 btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#commentReg" th:data-bs-whatever="${boardResponseDTO.boardId}">댓글 등록</button>
        </div>
        <div class="col">
            <button type="button" class="w-100 btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#commentUpdate" id="commentUpdateSelect" th:data-bs-whatever="${boardResponseDTO.boardId}">댓글 수정</button>
        </div>
        <div class="col">
            <button type="button" class="w-100 btn btn-secondary btn-lg" id="commentDeleteBtn">댓글 삭제</button>
        </div>
    </div>
    <hr class="my-4">
    <!-- /댓글리스트 -->
    <table class="table table-bordered border border-primary-subtle">
        <colgroup>
            <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="allChecked" onclick="allCheckedEvent()"/></th>
            <th scope="col">번호</th>
            <th scope="col">작성자</th>
            <th scope="col">댓글내용</th>
            <th scope="col">등록일</th>
            <th scope="col">좋아요</th>
            <th scope="col">싫어요</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:if="${not #lists.isEmpty( commentResponseDTOList )}" th:each="row, status : ${commentResponseDTOList}">
            <td><input type="checkbox" class="chk" th:data-commentId="${row.commentId}"/></td>
            <!--                    <td th:text="${row.noticeYn == false ? (status.size - status.index) : '공지'}"></td>-->
            <td th:text="${row.commentId}"></td>
            <td th:text="${row.commentFstRegNm}"></td>
            <td th:text="${row.commentCn}"></a></td>
            <td th:text="${#temporals.format( row.commentFstRegDt, 'yyyy-MM-dd HH:mm' )}"></td>
            <td th:text="${row.commentLike}"></td>
            <td th:text="${row.commentDontLike}"></td>
            <td><button th:onclick="commentLikeEvent([[${row.commentId}]])">👍</button></td>
            <td><button th:onclick="commentDontLikeEvent([[${row.commentId}]])">👎</button></td>
        </tr>

        <tr th:unless="${not #lists.isEmpty( commentResponseDTOList )}">
            <td colspan="9">
                <div class="no_data_msg">댓글이 없습니다.</div>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- /modal 댓글등록 -->
    <div class="modal fade" id="commentReg" tabindex="-1" aria-labelledby="commentRegLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="commentRegLabel">댓글 작성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="writer" class="col-form-label">작성자:</label>
                            <input type="text" class="form-control" id="writer">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="col-form-label">댓글 내용:</label>
                            <textarea class="form-control" id="content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="commentRegCancelBtn" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="commentRegBtn">등록</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="commentUpdate" tabindex="-1" aria-labelledby="commentUpdateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="commentUpdateLabel">댓글 수정</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="writer" class="col-form-label">작성자:</label>
                            <input type="text" class="form-control" id="firstWriter" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="col-form-label">댓글 내용:</label>
                            <textarea class="form-control" id="contentUpdate"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="commentUpdateCancelBtn" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="commentUpdateBtn">수정</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<div class="container" th:if="${pageFlag == 'C'}">

    <form id="createForm" th:object="${noticeBoardDTO}">

        <div>
            <label for="subject">제목</label>
            <input type="text" id="subject" th:field="*{boardTitle}" class="form-control" placeholder="제목을 입력하세요.">

        </div>
        <div>
            <label for="contents">내용</label>
            <textarea cols="150" rows="10" id="contents" th:field="*{boardCn}" class="form-control"
                      placeholder="내용을 입력하세요.">

            </textarea>

        </div>

        <div>
            <label for="registerNm">작성자 이름</label>
            <input type="text" id="registerNm" class="form-control" th:field="*{boardFstRegNm}"
                   placeholder="작성자 이름을 입력하세요.">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" id="createSaveBtn" type="button">게시글 저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='NoticeBoardList.html'"
                        th:onclick="|location.href='@{/noticeboard}'|"
                        type="button">목록으로
                </button>
            </div>
        </div>
    </form>

</div> <!-- /container -->
</body>
</html>
<script th:inline="javascript">
    const pageFlag = document.getElementById("pageFlag").value;
    let likeChk = false;
    let dontLikeChk = false;

    if (pageFlag == "C") {
        document.getElementById("createSaveBtn").addEventListener('click', createEvent);
    }
    if (pageFlag == "R") {
        document.getElementById("updateSaveBtn").addEventListener('click', updateEvent);
        document.getElementById("deleteSaveBtn").addEventListener('click', deleteEvent);
        document.getElementById("likeBtn").addEventListener('click', likeEvent);
        document.getElementById("dontLikeBtn").addEventListener('click', dontLikeEvent);
        document.getElementById("commentRegBtn").addEventListener('click', commentRegEvent);
        document.getElementById("commentUpdateSelect").addEventListener('click', commentUpdateSelectEvent);
        document.getElementById("commentUpdateBtn").addEventListener('click', commentUpdateEvent);
        document.getElementById("commentDeleteBtn").addEventListener('click', commentDeleteEvent);
        document.getElementById("commentRegCancelBtn").addEventListener('click', () => {clearCommentInput("C")});
        document.getElementById("commentUpdateCancelBtn").addEventListener('click', () => {clearCommentInput("U")});
    }

    /**
     * 게시글 등록에서 저장 버튼 클릭시 이벤트
     */
    function createEvent() {
        const title = document.getElementById("subject").value;
        const contents = document.getElementById("contents").value;
        const fstRegNm = document.getElementById("registerNm").value;

        //빈값 검증
        if (title === "" || contents === "" || fstRegNm === "") {
            window.alert("빈칸 없이 입력 바랍니다.");
            return;
        }

        const payload = {boardTitle: title, boardCn: contents, boardFstRegNm: fstRegNm};
        const url = "/api/v1/noticeboard/create";
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("게시글 저장 완료되었습니다.");
                    window.location.replace("/noticeboard");
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))

    }

    /**
     * 게시글 읽기 : 수정 버튼 클릭시 이벤트
     */
    function updateEvent() {
        const id = document.getElementById('boardId').value;
        const title = document.getElementById('updateTitle').value;
        const editContetns = document.getElementById('editContents').value;
        const uptRegNm = document.getElementById('uptName').value == null ? document.getElementById('newUptName').value : document.getElementById('uptName').value;

        //입력 필수값 예외처리
        if (id === '' || title === '' || editContetns === '' || uptRegNm === '') {
            window.alert("빈칸 없이 입력 바랍니다.");
            return;
        }
        const payload = {boardId: id, boardTitle: title, boardCn: editContetns, boardUptRegNm: uptRegNm};
        const url = '/api/v1/noticeboard/update';

        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("게시글 수정 완료되었습니다.");
                    history.back();
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 게시글 읽기 : 삭제 버튼 클릭시 이벤트
     */
    function deleteEvent() {
        const id = document.getElementById('boardId').value;

        if (id === "") {
            window.alert("빈칸없이 입력 바랍니다.");
            return;
        }
        const payload = {boardId: id};
        const url = "/api/v1/noticeboard/delete";

        fetch(url, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("게시글 삭제 완료되었습니다.");
                    window.location.replace("/noticeboard");
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 좋아요 클릭 이벤트
     */
    function likeEvent() {
        const id = document.getElementById('boardId').value;
        let url = "/api/v1/noticeboard/addlike";

        if (likeChk) {
            url = "/api/v1/noticeboard/cancel-like";
        }

        const payload = {boardId: id};
        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    if (likeChk) {
                        window.alert("게시글 좋아요 취소!!");
                        likeChk = false;
                    } else {
                        window.alert("게시글 좋아요 추가!!");
                        likeChk = true;
                    }
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 싫어요 클릭 이벤트
     */
    function dontLikeEvent() {
        const id = document.getElementById('boardId').value;
        let url = "/api/v1/noticeboard/add-dont-like";

        if (dontLikeChk) {
            url = "/api/v1/noticeboard/cancel-dont-like"
        }

        const payload = {boardId: id};
        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    if (dontLikeChk) {
                        window.alert("게시물 싫어요 취소!!");
                        dontLikeChk = false;
                    } else {
                        window.alert("게시물 싫어요 추가!!");
                        dontLikeChk = true;
                    }
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 댓글 등록 이벤트
     */
    function commentRegEvent() {
        const boardId = document.getElementById("boardId").value;
        const writer = document.getElementById("writer").value;
        const content = document.getElementById("content").value;
        const url = "/api/v1/comment/create";

        const payload = {commentCn: content, commentFstRegNm: writer, boardId: boardId};
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("댓글 작성 완료되었습니다.");
                    document.getElementById("commentRegCancelBtn").click();
                    window.location.reload();
                    clearCommentInput("C");
                    //게시글페이지로 이동
                } else {
                    clearCommentInput("C");
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 댓글 수정 조회 이벤트
     */
    function commentUpdateSelectEvent() {
        const commentId = isChecked();
        //수정할것 선택안함
        if(commentId < 0) {
            window.alert("수정할 댓글을 선택해주세요.");
            $("#commentUpdate").modal('hide');
            return;
        }

        //수정할것 중복 선택
        if(isOverChecked()) {
            chkAllUnChecked();
            window.alert("중복 선택 불가능합니다.");
            $("#commentUpdate").modal('hide');
            return;
        }

        //입력창 초기화
        clearCommentInput("U");
        const boardId = document.getElementById("boardId").value;
        const url = `/api/v1/comment/findByCommentId?commentId=${commentId}&boardId=${boardId}`;
        fetch(url, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then((response) => {
                if (response.ok) {
                   return response.json();
                } else {
                    clearCommentInput("U");
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((json) => {
                document.getElementById("firstWriter").value = json.commentFstRegNm;
            })
            .catch((error) => console.log(error.message))
    }

    /**
     * 댓글 수정 이벤트
     */
    function commentUpdateEvent() {
        const boardId = document.getElementById("boardId").value;
        const commentId = isChecked();
        const commentUptRegNm = document.getElementById("firstWriter").value;
        const content = document.getElementById("contentUpdate").value;
        const url = "/api/v1/comment/update";

        if(commentId < 0) {
            window.alert("수정할 댓글을 선택해주세요.");
            $("#commentUpdate").modal('hide');
            return;
        }

        if(isOverChecked()) {
            chkAllUnChecked();
            window.alert("중복 선택 불가능합니다.");
            $("#commentUpdate").modal('hide');
            return;
        }
        const payload = {commentCn: content, commentId: commentId, boardId: boardId, commentUptRegNm: commentUptRegNm};
        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("댓글 수정 완료되었습니다.");
                    document.getElementById("commentUpdateCancelBtn").click();
                    window.location.reload();
                    //게시글페이지로 이동
                } else {
                    clearCommentInput("U");
                    $("#commentUpdate").modal('hide');
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 댓글 삭제 이벤트
     */
    function commentDeleteEvent() {
        const commentId = isChecked();
        if(commentId() < 0) {
            window.alert("삭제할 댓글을 선택해주세요.");
            return;
        }

        if(isOverChecked()) {
            chkAllUnChecked();
            window.alert("중복 선택 불가능합니다.");
            return;
        }
    }

    /**
     * 댓글 좋아요 이벤트
     * @param commentId
     */
    function commentLikeEvent(commentId) {
        const boardId = document.getElementById("boardId").value;
        const url = "/api/v1/comment/addlike";
        const payload = {commentId: commentId, boardId: boardId};
        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("댓글 좋아요!!");
                    window.location.reload();
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 댓글 싫어요 이벤트
     * @param commentId
     */
    function commentDontLikeEvent(commentId) {
        const boardId = document.getElementById("boardId").value;
        const url = "/api/v1/comment/add-dont-like";
        const payload = {commentId: commentId, boardId: boardId};
        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if (response.ok) {
                    window.alert("댓글 싫어요!!");
                    window.location.reload();
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 중복 체크 확인
     */
    function isOverChecked() {
        let count = 0;
        document.querySelectorAll(".chk").forEach(function (v,i) {
           if(v.checked === true) {
               count++;
           }
        });
        if(count > 1) {
            return true;
        }
        return false;
    }

    function isChecked() {
        let index = -1;
        document.querySelectorAll(".chk").forEach(function (v, i) {
            if(v.checked === true) {
                index = i+1;
            }
        });
        return index;
    }

    /**
     * 전체 체크
     */
    function allCheckedEvent() {
        const allCheckBox = document.getElementById("allChecked");
        const isChecked = allCheckBox.checked;

        //전체 체크박스 제외한 모든 체크박스
        if(isChecked){
            //체크박스 전체 체크
            chkAllChecked()
        }
        else{
            //체크박스 전체 해제
            chkAllUnChecked()
        }
    }

    /**
     * 체크박스 전체 체크
     */
    function chkAllChecked(){
        document.querySelectorAll(".chk").forEach(function(v, i) {
            v.checked = true;
        });
    }

    /**
     * 체크박스 전체 체크 해제
     */
    function chkAllUnChecked(){
        document.querySelectorAll(".chk").forEach(function(v, i) {
            v.checked = false;
        });
    }

    /**
     * 댓글 모달 입력칸 초기화
     */
    function clearCommentInput(flag) {
        if(flag === "C") {
            document.getElementById("writer").value=null;
            document.getElementById("content").value=null;
        }

        if(flag === "U") {
            document.getElementById("firstWriter").value=null;
            document.getElementById("contentUpdate").value=null;
        }
    }
</script>