<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>리스트페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<th:block layout:fragment="content">
    <form id="noticeForm">
        <input type="hidden" id="page" th:value="${page}"/>
        <input type="hidden" id="startPage" th:value="${startPage}"/>
        <input type="hidden" id="endPage" th:value="${endPage}"/>
    </form>
    <a th:href="@{/}">홈이동</a>
    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>리스트</span></p>
    </div>

    <div class="content">
        <section>
            <!--/* 검색 */-->
            <div class="container text-center">
                <div class="row row-cols-auto">
                    <div class="col dropdown-center">
                        <select title="정렬 유형 선택" class="btn btn-info dropdown-toggle" id="orderBox" data-bs-toggle="dropdown" aria-expanded="false">
                            <option value="boardFstRegDt"></a>최신순</option>
                            <option value="boardLike">좋아요</option>
                            <option value="boardDontLike">싫어요</option>
                        </select>
                    </div>
                    <div class="col search_box dropdown-center">
                        <form id="searchForm" onsubmit="return false;" autocomplete="off">
                            <div class="sch_group fl">
                                <select title="검색 유형 선택" id="searchBox" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option value="">검색 선택</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="titleOrCn">제목+내용</option>
                                </select>
                                <input type="text" id="ibxSearch" class="border border-primary-subtle" onkeyup="enterKey(event)" placeholder="키워드를 입력해 주세요." title="키워드 입력"/>
                                <button type="button" class="btn btn-secondary" id="searchBtn"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                            </div>
                        </form>
                    </div>
                    <!--/* 버튼 */-->
                    <div class="col">
                        <p class="btn_set tr">
                            <a th:href="@{/noticeboard/detail(boardFlag = 'C')}" class="btns btn_st3 btn_mid">
                                <button type="button" class="btn btn-primary">등록</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--/* 리스트 */-->
            <table class="table table-bordered border border-primary-subtle">
                <colgroup>
                    <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:auto;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox"/></th>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회</th>
                    <th scope="col">좋아요</th>
                    <th scope="col">싫어요</th>
                    <th scope="col">댓글수</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                <tr th:if="${not #lists.isEmpty( noticeBoardList )}" th:each="row, status : ${noticeBoardList}">
                    <td><input type="checkbox"/></td>
<!--                    <td th:text="${row.noticeYn == false ? (status.size - status.index) : '공지'}"></td>-->
                    <td th:text="${row.boardId}"></td>
                    <td class="tl"><a th:href="@{/noticeboard/detail( boardId=${row.boardId}, boardFlag = 'R' )}" th:text="${row.boardTitle}"></a></td>
                    <td th:text="${row.boardFstRegNm}"></td>
                    <td th:text="${#temporals.format( row.boardFstRegDt, 'yyyy-MM-dd HH:mm' )}"></td>
                    <td th:text="${row.boardViews}"></td>
                    <td th:text="${row.boardLike}"></td>
                    <td th:text="${row.boardDontLike}"></td>
                    <td th:text="${row.commentsCnt}"></td>
                </tr>

                <tr th:unless="${not #lists.isEmpty( noticeBoardList )}">
                    <td colspan="5">
                        <div class="no_data_msg">검색된 결과가 없습니다.</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--/* 페이지네이션 */-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" id="pagination">
                    <li class="page-item"><a class="page-link" th:href="@{/noticeboard(page=0)}">First</a></li>
                    <span th:switch="${noticeBoardList.first}">
                        <li th:case="${true}" class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li th:case="*" class="page-item"><a class="page-link" th:href="@{/noticeboard(page=${noticeBoardList.number}-1)}">Previous</a></li>
                    </span>
                    <span th:each="idx: ${#numbers.sequence(startPage, endPage)}">
                        <li th:if="${idx == noticeBoardList.number + 1}" class="page-item active"><a class="page-link" th:text="${idx}"></a></li>
                        <li th:unless="${idx == noticeBoardList.number +1}" class="page-item"><a class="page-link" th:href="@{/noticeboard(page=${idx}-1)}" th:text="${idx}"></a></li>
                    </span>
                    <span th:switch="${noticeBoardList.last}">
                        <li th:case="${true}" class="page-item"><a class="page-link" href="#">Next</a></li>
                        <li th:case="*" class="page-item"><a class="page-link" th:href="@{/noticeboard(page=${noticeBoardList.number+1})}">Next</a></li>
                    </span>
                    <li class="page-item"><a class="page-link" th:href="@{/noticeboard(page=${noticeBoardList.totalPages}-1)}">Last</a></li>
                </ul>
            </nav>
        </section>
    </div> <!--/* .content */-->
</th:block>
</html>
<script>
    document.getElementById("searchBtn").addEventListener('click', searchEvent);
    document.getElementById("orderBox").addEventListener('change', orderEvent);

    window.onload = function () {
        // pagingEvent();
        console.log();
    }
    /**
     * 페이징처리를 위한값
     */
    function pagingEvent() {
        const currentPage = parseInt(document.getElementById("page").value)+1;
        const startPage = parseInt(document.getElementById("startPage").value);
        const endPage = parseInt(document.getElementById("endPage").value);
        const pagination = document.getElementById("pagination");
        console.log("확인", currentPage, typeof currentPage, startPage, typeof startPage, endPage, typeof endPage);
        let html = `<li class="page-item"><a class="page-link" href="#">Previous</a></li>`;
        for(let i=startPage; i<=endPage; i++) {
            if(i===currentPage) {
                html += `
                    <li class="page-item active"><a class="page-link" th:href="@{/noticeboard(page=${i-1})}">${i}</a></li>
                    `;
            } else {
                html += `
                    <li class="page-item"><a class="page-link" th:href="@{/noticeboard(page=${i-1})}">${i}</a></li>
                    `;
            }
        }
        html += `<li class="page-item"><a class="page-link" href="#">Next</a></li>`;
        pagination.innerHTML=html;
    }
    /**
     * 검색기능 이벤트
     */
    function searchEvent() {
        //검색 value
        const selectSearch = document.getElementById("searchBox");
        const searchType = selectSearch.options[selectSearch.selectedIndex].value;
        const searchKeyword = document.getElementById("ibxSearch").value;
        //정렬 value
        const selectOrder = document.getElementById("orderBox");
        const sort = selectOrder.options[selectOrder.selectedIndex].value;
        let url = "";

        if(searchKeyword === "") {
            window.location.replace("/noticeboard");
            return;
        }

        if(searchType === "") {
            window.alert("선택값을 선택하세요");
            return;
        }
        //url
        url = "/noticeboard/search?page?"+ 0 +"&size="+ 10 + "&sort="+ sort +"&searchType="+ searchType +"&searchKeyword="+ searchKeyword;

        window.alert("검색완료!!");
        window.location.assign(url);
    }

    /**
     * 정렬 이벤트
     */
    function orderEvent() {
        //검색 value
        const selectSearch = document.getElementById("searchBox");
        const searchType = selectSearch.options[selectSearch.selectedIndex].value;
        const searchKeyword = document.getElementById("ibxSearch").value;
        //정렬 value
        const selectOrder = document.getElementById("orderBox");
        const sort = selectOrder.options[selectOrder.selectedIndex].value;
        const url = "/noticeboard/search?page="+ 0 + "&size="+ 10 +"&sort="+ sort +"&searchType="+ searchType +"&searchKeyword="+ searchKeyword;
        const sortName = sort === "bordFstRegDt" ? "최신순" : sort === "boardLike" ? "좋아요" : "싫어요";
        window.alert(sortName+" 정렬 완료");
        window.location.assign(url);
    }

    /**
     * 엔터키 이벤트
     * @param e
     */
    function enterKey(e) {
        if(e.keyCode === 13) {
            //엔터키눌렀을때 동작
            searchEvent();
        }
    }
</script>