<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>게시판 상세페이지</title>
</head>
<body>
<input type="hidden" id="pageFlag" th:value="${pageFlag}" readonly>
<div class="container" th:if="${pageFlag == 'R'}">
<!--    <form id="deleteForm" th:action="|/api/v1/noticeboard/delete|" method="post">-->
<!--        <input type="hidden" class="form-control" th:value="${boardResponseDTO.boardId}" readonly/>-->
<!--    </form>-->

<!--    <div class="py-5 text-center">-->
<!--        <h2 th:text="#{page.board}">게시글 상세</h2>-->
<!--    </div>-->

    <!-- 추가 -->
<!--    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>-->

    <form id="updateForm" th:object="${boardResponseDTO}" method="post">
        <div>
            <input type="hidden" id="boardId" name="boardId" class="form-control" th:field="*{boardId}" th:value="${boardResponseDTO.boardId}" readonly>
        </div>
        <div>
            <label for="updateTitle">제목</label>
            <input type="text" id="updateTitle" name="boardSubject" class="form-control" value="상품A" th:field="*{boardTitle}" th:value="${boardResponseDTO.boardTitle}">
        </div>
        <div>
            <label for="name">작성자</label>
            <input type="text" id="name" name="name" class="form-control" value="작성자" th:value="${boardResponseDTO.boardFstRegNm}" readonly>
        </div>
        <div th:if="${boardResponseDTO.boardUptRegNm != ''}">
            <label from="uptName">수정자</label>
            <input type="text" id="uptName" name="uptName" class="form-control" value="수정자" th:field="*{boardUptRegNm}" th:value="${boardResponseDTO.boardUptRegNm}">
        </div>
        <div th:if="${boardResponseDTO.boardUptRegNm == ''}">
            <label from="newUptName">수정자</label>
            <input type="text" id="newUptName" name="uptName" class="form-control" value="수정자" th:field="*{boardUptRegNm}">
        </div>
        <div>
            <label for="viewcnt">조회수</label>
            <input type="text" id="viewcnt" name="viewcnt" class="form-control" value="10" th:value="${boardResponseDTO.boardViews}" readonly>
        </div>

        <div>
            <label for="like">좋아요</label>
            <input type="text" id="like" name="like" class="form-control" value="10" th:value="${boardResponseDTO.boardLike}" readonly>
        </div>
        <div>
            <label for="dontLike">싫어요</label>
            <input type="text" id="dontLike" name="dontLike" class="form-control" value="10" th:value="${boardResponseDTO.boardDontLike}" readonly>
        </div>
        <div>
            <label for="regdate">등록일</label>
            <input type="text" id="regdate" name="regdate" class="form-control" value="10" th:value="${boardResponseDTO.boardFstRegDt}" readonly>
        </div>
        <div th:if="${boardResponseDTO.boardUptRegDt != '' and boardResponseDTO.boardUptRegDt != null}">
            <label for="uptRegDate">최근 수정일</label>
            <input type="text" id="uptRegDate" name="uptRegDate" class="form-control" value="10" th:value="${boardResponseDTO.boardUptRegDt}" readonly>
        </div>
        <div>
            <label for="editContents">글 내용</label>
            <input type="text" id="editContents" name="contents" class="form-control" value="10" th:field="*{boardCn}" th:value="${boardResponseDTO.boardCn}">
        </div>
    </form>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="button" id="updateSaveBtn">게시글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='NoticeBoardList.html'"
                    th:onclick="|location.href='@{/noticeboard}'|"
                    type="button">목록으로</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="button" id="deleteSaveBtn">게시글 삭제</button>
        </div>
    </div>

</div> <!-- /container -->

<div class="container" th:if="${pageFlag == 'C'}">

<!--    <div class="py-5 text-center">-->
<!--        <h2 th:text="#{page.addBoard}">게시글 등록</h2>-->
<!--    </div>-->

    <form id="createForm" th:object="${noticeBoardDTO}">

        <div>
            <label for="subject">제목</label>
            <input type="text" id="subject" th:field="*{boardTitle}" class="form-control" placeholder="제목을 입력하세요.">

        </div>
        <div>
            <label for="contents">내용</label>
            <textarea cols="150" rows="10" id="contents" th:field="*{boardCn}" class="form-control" placeholder="내용을 입력하세요.">

            </textarea>

        </div>

        <div>
            <label for="registerNm">작성자 이름</label>
            <input type="text" id="registerNm" class="form-control"  th:field="*{boardFstRegNm}" placeholder="작성자 이름을 입력하세요.">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" id="createSaveBtn" type="button">게시글 저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='NoticeBoardList.html'"
                        th:onclick="|location.href='@{/noticeboard}'|"
                        type="button">목록으로</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>
<script th:inline="javascript">
    const pageFlag = document.getElementById("pageFlag").value;

    if(pageFlag == "C") {
        document.getElementById("createSaveBtn").addEventListener('click', createEvent);
    }
    if(pageFlag == "R") {
        document.getElementById("updateSaveBtn").addEventListener('click', updateEvent);
        document.getElementById("deleteSaveBtn").addEventListener('click', deleteEvent);
    }

    /**
     * 게시글 등록에서 저장 버튼 클릭시 이벤트
     */
    function createEvent() {
        const title = document.getElementById("subject").value;
        const contents = document.getElementById("contents").value;
        const fstRegNm = document.getElementById("registerNm").value;

        //빈값 검증
        if(title === "" || contents === "" || fstRegNm === "") {
            window.alert("빈칸 없이 입력 바랍니다.");
            return;
        }

        const payload = {boardTitle:title, boardCn:contents, boardFstRegNm:fstRegNm};
        const url = "/api/v1/noticeboard/create";
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if(response.ok) {
                    window.alert("게시글 저장 완료되었습니다.");
                    window.location.replace("/noticeboard");
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))

    }

    /**
     * 게시글 읽기 : 수정 버튼 클릭시 이벤트
     */
    function updateEvent() {
        const id = document.getElementById('boardId').value;
        const title = document.getElementById('updateTitle').value;
        const editContetns = document.getElementById('editContents').value;
        const uptRegNm = document.getElementById('uptName').value == null ? document.getElementById('newUptName').value : document.getElementById('uptName').value;

        //입력 필수값 예외처리
        if(id === '' || title === '' || editContetns === '' || uptRegNm === '') {
            window.alert("빈칸 없이 입력 바랍니다.");
            return;
        }
        const payload = {boardId : id, boardTitle : title, boardCn : editContetns, boardUptRegNm : uptRegNm};
        const url = '/api/v1/noticeboard/update';

        fetch(url, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if(response.ok) {
                    window.alert("게시글 수정 완료되었습니다.");
                    window.location.replace("/noticeboard");
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }

    /**
     * 게시글 읽기 : 삭제 버튼 클릭시 이벤트
     */
    function deleteEvent() {
        const id = document.getElementById('boardId').value;

        if(id === "") {
            window.alert("빈칸없이 입력 바랍니다.");
            return;
        }
        const payload = {boardId : id};
        const url = "/api/v1/noticeboard/delete";

        fetch(url, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((response) => {
                if(response.ok) {
                    window.alert("게시글 삭제 완료되었습니다.");
                    window.location.replace("/noticeboard");
                } else {
                    throw new Error(`${response.status} 에러가 발생했습니다.`);
                }
            })
            .then((response) => console.log(response))
            .catch((error) => console.log(error.message))
    }
</script>