<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <a th:href="@{/}">홈이동</a>
    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>리스트</span></p>
    </div>

    <div class="content">
        <section>
            <!--/* 검색 */-->
            <div class="search_box">
                <form id="searchForm" onsubmit="return false;" autocomplete="off">
                    <div class="sch_group fl">
                        <select title="검색 유형 선택" id="searchBox">
                            <option value="">검색 선택</option>
                            <option value="SCH01">제목</option>
                            <option value="SCH02">내용</option>
                            <option value="SCH03">제목+내용</option>
                        </select>
                        <input type="text" id="ibxSearch" onkeyup="enterKey(event)" placeholder="키워드를 입력해 주세요." title="키워드 입력"/>
                        <button type="button" class="bt_search" id="searchBtn"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                    </div>
                </form>
            </div>

            <!--/* 리스트 */-->
            <table class="tb tb_col">
                <colgroup>
                    <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:auto;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/><col style="width:7.5%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox"/></th>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회</th>
                    <th scope="col">좋아요</th>
                    <th scope="col">싫어요</th>
                    <th scope="col">댓글수</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                <tr th:if="${not #lists.isEmpty( noticeBoardList )}" th:each="row, status : ${noticeBoardList}">
                    <td><input type="checkbox"/></td>
<!--                    <td th:text="${row.noticeYn == false ? (status.size - status.index) : '공지'}"></td>-->
                    <td th:text="${row.boardId}"></td>
                    <td class="tl"><a th:href="@{/noticeboard/detail( boardId=${row.boardId}, boardFlag = 'R' )}" th:text="${row.boardTitle}"></a></td>
                    <td th:text="${row.boardFstRegNm}"></td>
                    <td th:text="${#temporals.format( row.boardFstRegDt, 'yyyy-MM-dd HH:mm' )}"></td>
                    <td th:text="${row.boardViews}"></td>
                    <td th:text="${row.boardLike}"></td>
                    <td th:text="${row.boardDontLike}"></td>
                    <td th:text="${row.commentsCnt}"></td>
                </tr>

                <tr th:unless="${not #lists.isEmpty( noticeBoardList )}">
                    <td colspan="5">
                        <div class="no_data_msg">검색된 결과가 없습니다.</div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--/* 페이지네이션 */-->
            <div class="paging">
                <a href="#" class="page_bt first">첫 페이지</a><a href="#" class="page_bt prev">이전 페이지 그룹</a>
                <p><span class="on">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a></p>
                <a href="#" class="page_bt next">다음 페이지 그룹</a><a href="#" class="page_bt last">마지막 페이지</a>
            </div>

            <!--/* 버튼 */-->
            <p class="btn_set tr">
                <a th:href="@{/noticeboard/detail(boardFlag = 'C')}" class="btns btn_st3 btn_mid">글쓰기</a>
            </p>
        </section>
    </div> <!--/* .content */-->
</th:block>
</html>
<script>
    document.getElementById("searchBtn").addEventListener('click', searchEvent);

    /**
     * 검색기능 이벤트
     */
    function searchEvent() {
        const tbodyId = document.getElementById("tableBody");
        //selectbox선택값
        const select = document.getElementById("searchBox");
        const searchId = select.options[select.selectedIndex].value;
        //inputbox선택값
        const searchCn = document.getElementById("ibxSearch").value;

        if(searchCn === "") {
            window.location.replace("/noticeboard");
            return;
        }

        if(searchId === "") {
            window.alert("선택값을 선택하세요");
            return;
        }
        //url
        const url = "/noticeboard/"+ searchId + "/" + searchCn;
        //api호출
        fetch(url, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        }).then((response) => {
            if(response.ok) {
                return response.json();
            } else {
                throw new Error(`${response.status} 에러가 발생했습니다.`);
            }
        })
        .then((json) => {
            let tableHTML = '';
            if (!json.length) {
                tableHTML += '<tr>';
                tableHTML += '  <td colSpan="5">';
                tableHTML += '      <div className="no_data_msg">검색된 결과가 없습니다.</div>';
                tableHTML += '  </td>';
                tableHTML += '</tr>';
            } else {
                //table list 추가
                console.log("list", json);
                json.forEach((obj, idx) => {
                    tableHTML += `<tr>
                                    <td><input type="checkbox"/></td>
                                    <td th:text="${obj.boardId}">${obj.boardId}</td>
                                    <td className="tl"><a th:href="@{/noticeboard/detail( boardId=${obj.boardId}, boardFlag = \'R\' )}" th:text="${obj.boardTitle}"></a>${obj.boardTitle}</td>
                                    <td th:text="${obj.boardFstRegNm}">${obj.boardFstRegNm}</td>
                                    <td th:text="${obj.boardFstRegDt}">${obj.boardFstRegDt}</td>
                                    <td th:text="${obj.boardViews}">${obj.boardViews}</td>
                                    <td th:text="${obj.boardLike}">${obj.boardLike}</td>
                                    <td th:text="${obj.boardDontLike}">${obj.boardDontLike}</td>
                                    <td th:text="${obj.commentsCnt}">${obj.commentsCnt}</td>
                                  </tr>`;
                });
            }
            tbodyId.innerHTML=tableHTML;
            window.alert("검색 완료");
        })
        .catch((error) => console.log("에러",error.message))
    }

    function enterKey(e) {
        if(e.keyCode === 13) {
            //엔터키눌렀을때 동작
            searchEvent();
        }
    }
</script>